@model  LicenceViewModel
@using  Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Index";
}

<h2>Hello @User.Identity.Name</h2>

<div class="panel panel-default LicencePanel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td class=" bg-primary">ID</td>
                <td class=" bg-primary">User</td>
                <td class=" bg-primary">Licence Key</td>
            </tr>
        </thead>
        @foreach (var item in Model.items)
        {
        <tr>
            <td> @item.ID</td>
            <td> @item.User</td>
            <td>@item.LicenceKey</td>
        </tr>
        }

    </table>
</div>